<tr>
  <td>
    <%= link_to image_tag(feed_back.user.avatar, class: "avatar-post") %>
  </td>
  <td>
    <%= link_to feed_back.user.name %>
  </td>
  <td>
    <%= link_to feed_back.deck.title, admins_deck_path(feed_back.deck) %>
  </td>
  <td>
    <%= feed_back.status %>
  </td>
</tr>

