body {
  background-color: #F7F7F7;
  margin: 0px;
  color: #5c5c5c;
  font-family: DINNextRoundedLTPro-Regular, sans-serif;
}
a:link, a:visited, a:hover {
  text-decoration: none;
}

.show-value {
  min-height: 700px;
  margin-top: 45px;
  background-color: White;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
  width: auto;
}

footer .quick-links {
  margin-bottom: 20px;
  margin-top: 90px;
  text-align: center;
}
footer .quick-links .link-item {
  color: #c4c4c4;
  font-weight: bold;
  margin: 20px;
  padding: 15px;
}
