<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-header>
</app-header>
<div style="min-height:775px; background-color: #F7F7F7">
  <div class="container" style="margin-top: 60px;">
    <router-outlet>
    </router-outlet>
  </div>
</div>
<footer style="background-color: #F7F7F7">
  <div class="container">
    <div class="quick-links">
      <a href="#" class="link-item">ABOUT</a>
      <a href="#" class="link-item">TERMS</a>
      <a href="#" class="link-item">FACEBOOK</a>
      <a href="#" class="link-item">TWITTER</a>
      <a href="#" class="link-item">SUPPORT</a>
    </div>
  </div>
</footer>
