.left {
  padding: 20px;

  .img-deck {
    height: 310px;

    img {
      width: 90%;
      margin: auto;
      display: block;
      border-radius: 20px;
    }
  }

  .pd-top-10 {
    padding-top: 10px;
  }

  .txt {
    margin: 15px;

    .ip {
      background-color: transparent;
      border-left: none;
      border-radius: 0px;
      border-right: none;
      border-top: none;
      width: 100%;
    }

    .name-deck {
      font-size: 25px;
      font-weight: bold;
    }

    .author {
      margin-top: 15px;
      margin-bottom: 15px;

      img {
        width: 40px;
      }

      .name {
        margin-left: 10px;
        font-weight: bold;
        color: cornflowerblue;
      }
    }

    .favorite {
      margin: auto;
    }

    .btn-ct{
      margin-top: 20px;

      .btn-ct-setting {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #32cdff;
        width: 15%;
      }

      .btn-ct-publ {
        cursor: pointer;
        font-weight: bold;
        background-color: #32cdff;
        border-color: #32cdff;
        border-radius: 12px;
        margin-left: 8px;
        opacity: 0.7;
        width: 78%;
      }

      .fa-cog {
        color: #32cdff;
      }
    }
  }

  .cover-deck {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 310px;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 90%;

    .import-cover-deck {
      position: absolute;
      top: 45%;
      width: 100%;

      .ct-text {
        color: #32cdff;
        font-weight: bold;
        margin-top: 10px;
      }

      img {
        width: 100%;
      }
    }

    .preview-img {
      top: 0% !important;
    }
  }
}

.right {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  min-height: 400px;
  position: relative;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);

  .s-select {
    margin-left: 25px;
    padding: 20px;

    .s-txt {
      color: darkgray;
      font-weight: bold;
      margin-right: 35px;
    }

    .s-active {
      border-bottom: 2px solid lightskyblue;
      color: lightskyblue;
    }
  }

  .containerTab {
    margin-top: 30px;
  }

  .list-lesson {
    .item-lesson {
      img {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }

  .add-card {
    position: absolute;
    right: 32px;
    top: 160px;

    img {
      width: 110px;
    }

    .add {
      background-color: #32cdff;
      border-radius: 100%;
      border: none;
      box-shadow: 0 3px 10px 0 rgba(0,0,0,.18);
      color: white;
      font-size: 45px;
      height: 65px;
      outline: none;
      position: fixed;
      width: 65px;
      z-index: 100;
    }
  }

  .wrapper {
    padding: 10px 0 10px;

    .n-card {
      display: flex;
      margin-top: 25px;
      padding: 20px 0 20px;
      position: relative;
      text-align: center;

      &:hover {
        background-color: #F7F7F7;

        .del {
          background-color: #F7F7F7;

          .fa-trash-o {
            opacity: 0.7;
          }
        }
      }
    }

    .number {
      flex: 1;
    }

    .front-card {
      flex: 3;

      .image {
        display: block;
        width: 45px;
        margin: 15px;
      }

      .add-img {
        width: 100%;
      }
    }

    .back-card {
      flex: 3;
    }

    .list-option {
      flex: 1;
    }

    .f-deck {
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0 2px 14px 0 rgba(0,0,0,.17);
      box-sizing: border-box;
      display: inline-block;
      height: 310px;
      overflow: hidden;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 90%;

      .import-cover-deck {
        position: absolute;
        top: 40%;
        width: 100%;

        .ct-text {
          border: none;
          color: black;
          font-size: 20px;
          font-weight: bold;
          opacity: 0.8;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .left {
    .cover-deck {
      height: 255px;
    }
  }

  .right {
    .wrapper {
      .f-deck {
        height: 255px;
      }
    }
  }
}
