.les-wrapper {
  background-color: white;
  border-radius: 10px;
  min-height: 650px;
  padding: 15px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);

  .les-card {
    min-height: 500px;
    text-align: center;
    margin: 50px auto;
    width: 300px;
    border-radius: 15px;

    img {
      width: 100%;
      border-radius: 15px;
    }

    .containerr {
      width: 100%;
      margin: auto;
      height: 345px;

      .ct-card {
        width: 100%;
      }

      .front {
        img {
          border-radius: 15px;
        }
      }
      .back {
        border-radius: 15px;
        background-color: while;
      }
    }

    .title {
      border-radius: 15px;
      color: #ffc615;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .btn-continue {
      background-color: #32cdff;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-family: DINNextRoundedLTPro-Bold,sans-serif;
      font-size: 20px;
      margin: 15px 0 10px;
      padding: 10px 20px;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        -webkit-filter: brightness(95%);
        filter: brightness(95%);
      }
    }
  }
}
