<div class="front-card">
  <div class="f-deck">
    <div class="import-cover-deck">
      <div class="change-cover">
        <textarea type="text" rows="6" class="form-control ct-text" id="front-card-value" placeholder="Front"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="back-card">
  <div class="f-deck">
    <div class="import-cover-deck">
      <div class="change-cover">
        <textarea type="text" rows="6" class="form-control ct-text" id="back-card-value" placeholder="Back"></textarea>
      </div>
    </div>
  </div>
</div>
