.show-value {
  min-height: 700px;
  background-color: White;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  width: auto;
  margin-top: 35px;
}
.show-value .slider {
  height: 200px;
  width: 100%;
  background-color: #ddddff;
  border-radius: 8px;
}
.show-value .favorites {
  min-height: 350px;
}
.show-value .favorites .title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
.show-value .favorites .item-deck {
  height: 240px;
  padding: 10px;
  width: 170px;
}
.show-value .favorites .item-deck a {
  text-decoration: none;
}
.show-value .favorites .item-deck img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
}
.show-value .favorites .item-deck .image-cover {
  height: 174px;
  background-color: #fff;
}
.show-value .favorites .item-deck .image-cover a {
  height: 174px;
  background-color: #fff;
  outline: none;
}
.show-value .favorites .item-deck .name {
  margin-top: 10px;
}
.show-value .favorites .item-deck .name .name-deck {
  font-size: 18px;
}
.show-value .favorites .item-deck .name a {
  text-decoration: none;
  outline: none;
  margin-left: 10px;
}
.show-value .favorites .item-deck .name .number {
  color: lightgray;
  font-size: 16px;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
}
.show-value .favorites .item-deck .name-deck {
  color: #5c5c5c;
  font-size: 15px;
  font-weight: bold;
}
.list-decks-favor {
  padding: 2%;
}
.slick-slide {
  width: 220px !important;
}


@media only screen and (max-width: 450px) {
  .show-value {
    margin-top: 0;
  }
}
