.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerr {
  position: relative;
  float: left;
  width: 200px;
  height: 260px;
  margin: 10px;
  background: #fff;
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.ct-card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  width: 200px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ct-card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .front,
.ct-card .back {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.ct-card .front {
  background: #a3a3a3;
  border-radius: 15px;
  width: 100%;
}

.ct-card .back {
  background: #444444;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.del {
  background-color: white;
  border: none;
  outline: none;
}

.les-wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  margin-top: 20px;
  min-height: 650px;
  padding: 15px;
}
.les-wrapper .les-card {
  min-height: 500px;
  text-align: center;
  margin: 50px auto;
  width: 280px;
  border-radius: 15px;
}
.les-wrapper .les-card img {
  width: 100%;
  border-radius: 15px;
}
.les-wrapper .les-choice img {
  width: 100%;
  border-radius: 15px;
}
.les-wrapper .les-card .containerr {
  width: 100%;
  margin: auto;
  height: 330px;
  padding: 25px 0;
}
.les-wrapper .les-choice .containerr {
  width: 100%;
  margin: auto;
  height: 330px;
  padding: 25px 0;
  position: relative;
}
.les-wrapper .les-card .containerr .ct-card {
  width: 100%;
}
.les-wrapper .les-choice .containerr .ct-card {
  width: 100%;
}
.les-wrapper .les-choice .containerr .ct-card:hover {
  transform: scale(1.025);
  &:before, &:after {
    position: absolute;
    top: -2px;
    bottom: -2px;
  }

  &:before {
    left: -2px;
  }
  &:after {
    right: -2px;
  }
}
.les-wrapper .les-card .containerr .front img {
  border-radius: 15px;
}
.les-wrapper .les-choice .containerr .front img {
  border-radius: 15px;
}
.les-wrapper .les-choice .containerr .front {
  background-color: white;
  color: black;
  opacity: .8;
  font-size: 30px;
  justify-content: center;
}
.les-wrapper .les-card .containerr .back {
  border-radius: 15px;
  background-color: while;
}
.les-wrapper .les-choice .containerr .back {
  border-radius: 15px;
  background-color: while;
}
.les-wrapper .les-card .title {
  border-radius: 15px;
  color: #ffc615;
  font-size: 30px;
  font-weight: 600;
}
.les-wrapper .les-card .btn-continue {
  background-color: #32cdff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 20px;
  margin: 15px 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
}
.les-wrapper .les-card .btn-continue button{
  outline: none;
}
.les-wrapper .les-card .btn-continue:hover {
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}
.les-wrapper .les-choice {
  width: 80%;
  height: 500px;
  margin: 30px auto;
  padding: 50px 20px;
}
.les-wrapper .les-choice .answers {
  padding: 20px 0;
}
.les-wrapper .les-choice .answers .list-ans {
  border-radius: 15px;
  list-style-type: decimal;
  margin: 12px;
}
.les-wrapper .les-choice .answers .list-ans button {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  border-radius: 15px;
  border: 3px solid #98e6ff;
  background-color: white;
  color: #32cdff;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  font-size: 21px;
  height: 100px;
  width: 100%;
  outline: none;
}
.les-wrapper .les-choice .answers .list-ans button:hover {
  border: 3px solid #32cdff;
}
.les-wrapper .les-choice .txt-answers {
  position: relative;
  height: 350px;
}
.les-wrapper .les-choice .txt-answers .ct-answers {
  margin-left: 25px;
  position: absolute;
  top: 45%;
  width: 100%;
  border-bottom: 2px solid #32cdff;
  border-left: none;
  border-right: none;
  border-top: none;
  display: flex;
  padding: 6px 0;
}
.les-wrapper .les-choice .txt-answers .ct-answers input {
  font-size: 24px;
  width: 90%;
  height: 45px;
  outline: none;
  width: 100%;
  padding: 10px 0;
  border: none;
}
.les-wrapper .les-choice .txt-answers .ct-answers button {
  background: transparent;
  border: none;
  outline: none;
  width: 8%;
}
.les-wrapper .les-choice .txt-answers .ct-answers button i {
  font-size: 35px;
  background: transparent;
  color: blueviolet;
  opacity: .6;
}
.les-wrapper .les-choice .txt-answers .ct-answers button i:hover{
  opacity: .9;
}
.les-wrapper .les-choice .txt-answers .ct-answers:hover {
  border-bottom: 3px solid #32cdff;
}
.les-wrapper .les-choice .txt-answers .ct-answers input::placeholder {
  opacity: .8;
}
