<!-- <modal #coverImgModal1> -->
                  <!-- <modal-header>
                    <h3 id="title<%= lesson.id %>"></h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </modal-header> -->
                  <!-- <modal-content>
                  <form-wizard>
                    <wizard-step>
                      <h1>Step1</h1>
                      <form #emailForm="ngForm">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                      </form>
                    </wizard-step>
                    <wizard-step [title]="'Step2'" (onNext)="onStep2Next($event)">
                      <h1>Step2</h1>
                    </wizard-step>
                    <wizard-step [title]="'Step3'" (onNext)="onStep3Next($event)">
                      <h1>Step3</h1>
                    </wizard-step>
                    <wizard-step [title]="'Step4'" (onComplete)="onComplete($event)">
                      <div [ngSwitch]="isCompleted">
                        <div *ngSwitchDefault>
                          <h1>Step4</h1>
                        </div>
                        <div *ngSwitchCase="true">
                          <h4>Thank you! You have completed all the steps.</h4>
                        </div>
                      </div>
                    </wizard-step>
                  </form-wizard> -->
                      <!-- <div class="modal-body">
                        <% lesson.cards.each do |card|%>
                          <div class="containerr">
                            <div class="ct-card">
                              <div class="item-card front" style="border-radius: 15px;">
                                <% if card.picture.blank? %>
                                  <%= card.front %>
                                <% else %>
                                  <%= image_tag card.picture, style: "width: 100%" %>
                                <% end %>
                              </div>
                              <div class="item-card back">
                                <%= card.back %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div> -->
                  <!-- </modal-content>
                  <modal-footer>
                    <button type="button" class="btn btn-success align-content-end">Continue</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </modal-footer>
              
                </modal> -->