.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerr {
  position: relative;
  float: left;
  width: 200px;
  height: 260px;
  margin: 10px;
  background: #fff;
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
}

.ct-card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  width: 200px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ct-card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .front,
.ct-card .back {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.ct-card .front {
  background: white;
  border-radius: 15px;
  color: black;
  opacity: .8;
  width: 100%;
}

.ct-card .back {
  background: white;
  color: black;
  opacity: .8;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.del {
  background-color: white;
  border: none;
  outline: none;
}

.lesson-wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  margin-top: 20px;
  min-height: 650px;
  padding:  18px 56px;
  display: grid;
}
.les-wrapper .les-card {
  min-height: 500px;
  text-align: center;
  margin: 50px auto;
  width: 280px;
  border-radius: 15px;
}
.les-wrapper .les-card img {
  width: 100%;
  border-radius: 15px;
}
.les-wrapper .les-choice img {
  width: 100%;
  border-radius: 15px;
}
.les-wrapper .les-choice .image-answers img {
  width: 88px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 8px;
}

.les-wrapper .les-card .containerr {
  width: 100%;
  margin: auto;
  height: 330px;
  padding: 25px 0;
}
.les-wrapper .les-choice .containerr {
  width: 100%;
  margin: auto;
  height: 330px;
  padding: 25px 0;
  position: relative;
}
.les-wrapper .les-card .containerr .ct-card {
  width: 100%;
}
.les-wrapper .les-choice .containerr .ct-card {
  width: 100%;
}
.les-wrapper .les-choice .containerr .ct-card:hover {
  transform: scale(1.025);
  &:before, &:after {
    position: absolute;
    top: -2px;
    bottom: -2px;
  }

  &:before {
    left: -2px;
  }
  &:after {
    right: -2px;
  }
}
.les-wrapper .les-card .containerr .front img {
  border-radius: 15px;
  height: 225px;
}
.les-wrapper .les-choice .containerr .front img {
  border-radius: 15px;
  height: 225px;
}
.les-wrapper .les-choice .containerr .front {
  background-color: white;
  color: black;
  opacity: .8;
  font-size: 30px;
  justify-content: center;
}
.les-wrapper .les-card .containerr .back {
  border-radius: 15px;
  background-color: while;
}
.les-wrapper .les-choice .containerr .back {
  border-radius: 15px;
  background-color: while;
}
.les-wrapper .les-card .title {
  border-radius: 15px;
  color: #ffc615;
  font-size: 30px;
  font-weight: 600;
}
.les-wrapper .les-card .btn-continue {
  background-color: #32cdff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 20px;
  margin: 15px 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
}
.les-wrapper .les-card .btn-continue button {
  outline: none;
}
.les-wrapper .les-card .btn-continue:hover {
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}
.les-wrapper .les-choice {
  width: 80%;
  height: 500px;
  margin: 30px auto;
  padding: 50px 20px;
}
.les-wrapper .les-choice .answers {
  padding: 20px 0;
}
.les-wrapper .les-choice .answers .list-ans {
  border-radius: 15px;
  list-style-type: decimal;
  margin: 12px;
}
.les-wrapper .les-choice .answers .list-ans button {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  border-radius: 15px;
  border: 3px solid #98e6ff;
  background-color: white;
  color: #32cdff;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  font-size: 21px;
  height: 100px;
  width: 100%;
  outline: none;
}
.les-wrapper .les-choice .image-answers .list-ans button {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  border-radius: 15px;
  border: 3px solid #98e6ff;
  background-color: white;
  color: #32cdff;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  font-size: 21px;
  height: auto;
  width: 100%;
  outline: none;
  margin-bottom: 20px;
}
.les-wrapper .les-choice .answers .list-ans button:hover {
  border: 3px solid #32cdff;
}
.les-wrapper .les-choice .txt-answers {
  position: relative;
  height: 350px;
}
.les-wrapper .les-choice .txt-answers .ct-answers {
  margin-left: 25px;
  position: absolute;
  top: 45%;
  width: 100%;
  border-bottom: 2px solid #32cdff;
  border-left: none;
  border-right: none;
  border-top: none;
  display: flex;
  padding: 6px 0;
}
.les-wrapper .les-choice .txt-answers .ct-hint {
  margin-left: 25px;
  position: absolute;
  top: 75%;
  width: 100%;
  display: flex;
  font-size: 24px;
  height: 45px;
  outline: none;
  padding: 10px 0;
  border: none;
  font-family: DINNextRoundedLTPro-Regular,sans-serif;
}
.les-wrapper .les-choice .txt-answers .ct-answers input {
  font-size: 24px;
  width: 90%;
  height: 45px;
  outline: none;
  width: 100%;
  padding: 10px 0;
  border: none;
  font-family: DINNextRoundedLTPro-Regular,sans-serif;
}
.les-wrapper .les-choice .txt-answers .ct-answers button {
  background: transparent;
  border: none;
  outline: none;
  width: 8%;
}
.les-wrapper .les-choice .txt-answers .ct-answers button i {
  font-size: 35px;
  background: transparent;
  color: blueviolet;
  opacity: .6;
}
.les-wrapper .les-choice .txt-answers .ct-answers button i:hover{
  opacity: .9;
}
.les-wrapper .les-choice .txt-answers .ct-answers:hover {
  border-bottom: 3px solid #32cdff;
}
.les-wrapper .les-choice .txt-answers .ct-answers input::placeholder {
  opacity: .8;
}
.back span {
  float: left;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.back-card span {
  float: left;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

._3yCFA{background-color:#ffd600;height:100%;transition:width .5s;}
._3PcMa,._3yCFA{border-radius:8px;display:block;overflow:hidden;position:relative;}
._3PcMa{background:#eef1f4;height:8px;margin:30px auto;width:90%;}

._3lLex{width:calc(96% - 32px);}
._3lLex{display:inline-block;}
@media (max-width:584px){
._3lLex{margin:20px 0;}
}

::-webkit-input-placeholder{color:inherit;opacity:.54;}
div:focus{outline:none;}

.true-animation {
  position: absolute;
  -webkit-animation-name: example1;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  animation-name: example1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes example1 {
  0%    {left:0px; top:0px;}
  70%   {background-color: aqua; left: 0px; top:0px}
  100%  {left:-400px; top:0px; opacity: .3}
}

.false-animation {
  position: absolute;
  -webkit-animation-name: example2;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  animation-name: example2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes example2 {
  0%    {left:0px; top:0px;}
  20%   {left:10px; top:0px;}
  40%   {left:-10px; top:0px;}
  60%   {left:10px; top:0px;}
  80%   {left:-10px; top:0px;}
  100%  {left:0px; top:0px;}
}

._1Osoi{background:none;border:none;color:#c4c4c4;cursor:pointer;display:inline-block;font-size:36px;margin-top:8px;padding:0;position:relative;text-align:left;vertical-align:top;width:32px;}
@media (max-width:584px){
._1Osoi{margin-top:-3px;}
}

button{font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
button::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring{outline:1px dotted ButtonText;}
::-webkit-input-placeholder{color:inherit;opacity:.54;}
*{-webkit-tap-highlight-color:transparent;}
button:focus{outline:none;}
button{cursor:pointer;}
button:disabled{cursor:not-allowed;-webkit-filter:grayscale(100%);filter:grayscale(100%);}

@media only screen and (max-width: 768px) {
  .lesson-wrapper {
    margin-top: 0 !important;
    border-radius: 0;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0);
    display: block;
  }

  .les-choice {
    margin: auto !important;
    padding: 0 !important;
    width: 90% !important;
  }

  .les-card {
    margin: auto !important;
  }

  .containerr {
    height: 330px !important;
  }

  .txt-answers {
  }
  .txt-answers .ct-answers {
    margin: auto !important;
  }

  .image-answers ul {
    display: flex;
    padding-left: 0px !important;
  }
  .image-answers ul li {
    list-style-type: none !important;
    flex: 1;
  }

  .answers ul {
    display: flex;
    padding-left: 0px !important;
  }
  .answers ul li {
    list-style-type: none !important;
    flex: 1;
  }
  .list-ans {
    margin: 0 !important;
    padding: 0 5px;
  }

  .img-answ {
    position: relative;
    margin-top: 20px;
  }

  .image-answers {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .ct-answers {
    top: 10% !important;
  }

  .les-choice .ct-card {
    width: 240px !important;
  }
}

@media only screen and (max-width: 450px) {
  .lesson-wrapper {
    margin-top: 0 !important;
    border-radius: 0;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0);
    display: block;
  }

  .les-choice {
    margin: auto !important;
    padding: 0 !important;
    width: 90% !important;
  }

  .les-choice .ct-card {
    width: 240px !important;
  }

  .les-card {
    margin: auto !important;
  }

  .containerr {
    height: 330px !important;
  }

  .txt-answers {
  }
  .txt-answers .ct-answers {
    margin: auto !important;
  }

  .image-answers ul {
    display: flex;
    padding-left: 0px !important;
  }
  .image-answers ul li {
    list-style-type: none !important;
    flex: 1;
  }

  .answers ul {
    display: flex;
    padding-left: 0px !important;
  }
  .answers ul li {
    list-style-type: none !important;
    flex: 1;
  }
  .list-ans {
    margin: 0 !important;
    padding: 0 5px;
  }

  .img-answ {
    position: relative;
    margin-top: 20px;
  }

  .image-answers {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .ct-answers {
    top: 10% !important;
  }
}

@media only screen and (max-width: 350px) {
  .lesson-wrapper {
    padding: 18px 25px !important;
  }
  .les-wrapper .les-card {
    width: 260px !important;
  }
}
