<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/assets/images/sidebar-5.jpg">

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text">
              ADMIN
          </a>
        </div>

        <ul class="nav">
          <li>
            <a href="#">
                <p>List User</p>
            </a>
          </li>
          <li>
            <a href="#">
                <p>User profile</p>
            </a>
          </li>
          <li>
            <a href="#">
                <p>List Deck</p>
            </a>
          </li>
          <li class="#">
            <a href="#">
                <p>List Report</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                           <a href="#">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <p>
                                Dropdown
                                <b class="caret"></b>
                              </p>

                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Striped Table with Hover</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                      <th>Name</th>
                                      <th>Salary</th>
                                      <th>Country</th>
                                      <th>City</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                          <td>1</td>
                                          <td>Dakota Rice</td>
                                          <td>$36,738</td>
                                          <td>Niger</td>
                                          <td>Oud-Turnhout</td>
                                        </tr>
                                        <tr>
                                          <td>2</td>
                                          <td>Minerva Hooper</td>
                                          <td>$23,789</td>
                                          <td>Curaçao</td>
                                          <td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                          <td>3</td>
                                          <td>Sage Rodriguez</td>
                                          <td>$56,142</td>
                                          <td>Netherlands</td>
                                          <td>Baileux</td>
                                        </tr>
                                        <tr>
                                          <td>4</td>
                                          <td>Philip Chaney</td>
                                          <td>$38,735</td>
                                          <td>Korea, South</td>
                                          <td>Overland Park</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Company (disabled)</label>
                                                <input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username" value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" placeholder="Company" value="Mike">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="City" value="Mike">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control" placeholder="ZIP Code">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" style="width: 100%;max-width: 100%" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                      <%= image_tag('faces/face-3.jpg', :class => "avatar border-gray") %>
                                      <h4 class="title">Mike Andrew<br />
                                         <small>michael24</small>
                                      </h4>
                                    </a>
                                </div>
                                <p class="description text-center"> "Lamborghini Mercy <br>
                                                    Your chick she so thirsty <br>
                                                    I'm in that two seat Lambo"
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">Email Statistics</h4>
                        <p class="category">Last Campaign Performance</p>
                      </div>
                        <div class="content">
                          <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                          <div class="footer">
                            <div class="legend">
                              <i class="fa fa-circle text-info"></i> Open
                              <i class="fa fa-circle text-danger"></i> Bounce
                              <i class="fa fa-circle text-warning"></i> Unsubscribe
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">Users Behavior</h4>
                        <p class="category">24 Hours performance</p>
                      </div>
                      <div class="content">
                        <div id="chartHours" class="ct-chart"></div>
                        <div class="footer">
                          <div class="legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Click
                            <i class="fa fa-circle text-warning"></i> Click Second Time
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="fa fa-history"></i> Updated 3 minutes ago
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="card ">
                      <div class="header">
                        <h4 class="title">2014 Sales</h4>
                        <p class="category">All products including Taxes</p>
                      </div>
                      <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                          <div class="legend">
                            <i class="fa fa-circle text-info"></i> Tesla Model S
                            <i class="fa fa-circle text-danger"></i> BMW 5 Series
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="fa fa-check"></i> Data information certified
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card ">
                      <div class="header">
                        <h4 class="title">Tasks</h4>
                        <p class="category">Backend development</p>
                      </div>
                      <div class="content">
                        <div class="table-full-width">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1"></label>
                                  </div>
                                </td>
                                <td>
                                  Sign contract for "What are conference organizers afraid of?"
                                </td>
                                <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                    <i class="fa fa-edit"></i>
                                  </button>
                                  <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                    <i class="fa fa-times"></i>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="checkbox">
                                    <input id="checkbox2" type="checkbox" checked>
                                    <label for="checkbox2"></label>
                                  </div>
                                </td>
                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                      <i class="fa fa-edit"></i>
                                  </button>
                                  <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                      <i class="fa fa-times"></i>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="checkbox">
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3"></label>
                                  </div>
                                </td>
                                <td>
                                  Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                </td>
                                <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                      <i class="fa fa-edit"></i>
                                  </button>
                                  <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                      <i class="fa fa-times"></i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
