<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="card login-form shadow-nohover">
      <div class="text-center login-form-label">Log in with your account</div>
      <div class="text-center">
        Don't have an account?
        <a href="#" [routerLink]="['/signup']" class="link-custome">Signup</a>
      </div>
      <div class="devide-login">
        <div class="devide-text"></div>
      </div>

      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="">Email address</label>
          <input type="text" autofocus="true" class="form-control"
            placeholder="Enter email" name="email" [(ngModel)]="model.email" #email="ngModel" required >
          <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="">Password</label>
          <input type="password" autocomplete="off" class="form-control"
            placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <button type="submit" class="btn btn-block btn-custome">LOG IN</button>
      </form>

    </div>
  </div>
</div>
