<section *ngIf="user">
  <div class="wrapper">
    <div class="row" style="margin: 0">
      <div class="col-md-3 nav-list">
        <div class="sidenav">
          <ul>
            <li class="item active" (click)="openTab('a1','aa1');" id="aa1">EDIT PROFILE</li>
            <li class="item" (click)="openTab('a2','aa2');" id="aa2">ACCOUNT SETTINGS</li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="change">
          <div id="a1" class="show-value">
            <form [formGroup]="formUser" novalidate (ngSubmit)="save(formUser)">
              <div class="row">
                <div class="col-md-9">
                  <input type="hidden" formControlName="id" value="{{user.id}}"><br>
                  <label>Email</label><br>
                  <input type="text" formControlName="email" value="{{user.email}}"><br>
                  <label>Username</label><br>
                  <input type="text" formControlName="name" value="{{user.name}}"><br>
                  <label>Bio</label><br>
                  <input type="text" formControlName="bio" value="{{user.bio}}"><br>
                  <button type="submit" class="btn-save">save changes</button>
                </div>
                <div class="col-md-3 ava">
                  <div class="avatar">
                    <img src="{{user.avatar.url}}" onError="this.src='./assets/images/avatar.png';" class="user-profile-avatar" alt="Default avatar" id="avatar-default">
                    <label type="button"><i class="fa fa-pencil"></i>
                      <input name="file" type="file" (change)="onFileChange($event)" style="display: none">
                      <input type="hidden" name="fileHidden" formControlName="avatar">
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div id="a2" class="show-value" style="display: none">
            <form [formGroup]="formPassWord" novalidate (ngSubmit)="changePassword(formPassWord)">
              <label>Current Password</label><br>
              <input type="password" formControlName="current_password" style="width: 300px"><br>
              <label>Password</label><br>
              <input type="password" formControlName="password" style="width: 300px"><br>
              <label>Password confirm</label><br>
              <input type="password" formControlName="password_confirmation" style="width: 300px"><br>
              <button type="submit" class="btn-save">save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
