<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="card login-form shadow-nohover">
      <h2 class="text-center login-form-label" style="margin-top: 3px; margin-bottom: 16px">Create your account</h2>
      <div class="text-center">
        Already have an account?
        <a href="#" [routerLink]="['/login']" class="link-custome">Login</a>
      </div>

      <form name="form" style="margin-top: 30px" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" autofocus="true" name="email" class="form-control" placeholder="Enter email"
            [(ngModel)]="model.email" #email="ngModel" required >
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" autofocus="true" name="name" class="form-control" placeholder="Enter your name"
            [(ngModel)]="model.name" #name="ngModel" required >
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" autocomplete="off" name="password" class="form-control" placeholder="Password"
            [(ngModel)]="model.password" #password="ngModel" required >
        </div>

        <div class="form-group">
          <label for="password_confirmation">Password confirmation</label>
          <input type="password" autocomplete="off" name="password_confirmation" class="form-control" placeholder="Password confirmation"
            [(ngModel)]="model.password_confirmation" #password_confirmation="ngModel" required>
        </div>

        <button type="submit" class="btn btn-block btn-custome">SIGN UP</button>
      </form>
    </div>
  </div>
</div>



