<section *ngIf="user">
  <div class="swap" style="margin-top: 45px">
    <div class="row text-center user-profile">
      <div class="col-xs-12 col-md-3 user-profile-info">
        <div class="col-xs-12">
          <img src="{{user.avatar.url}}" onError="this.src='./assets/images/avatar.png';" class="user-profile-avatar" alt="Default avatar">
        </div>
        <div class="col-xs-12">
          <div class="col-12 user-profile-name">
            <p> {{user.name}} </p>
          </div>
          <div class="user-profile-follow">
            <div class="follow">
              Followers: {{user.follower_number}}
            </div>
            <div class="follow">
              Following: {{user.following_number}}
            </div>
          </div>
          <div class="profile-device"></div>
          <div style="font-style: italic;">{{user.bio}}</div>
        </div>

        <div *ngIf="user.id == current_user.user_id" class="col-xs-12 profile-setting">
          <a href="#" [routerLink]="['setting']" class="col">
            <img src="./assets/images/setting.png" class="img-setting" alt="Setting">
            <div class="text-setting">Settings</div>
          </a>
        </div>

        <div *ngIf="user.id != current_user.user_id" class="col-xs-12 profile-setting">
          <button (click)="toogleFollow(user)" [class.btn-followed]="user.followed" type="button" class="btn btn-outline-success btn-follow">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{user.followed ? 'Unfollow' : 'Follow'}}
          </button>
          <button type="button" class="btn btn-outline-success" style="width: 15%; background-color: white;border: 2px solid #32cdff;"><i class="fa fa-external-link" aria-hidden="true" style="color: #32cdff;"></i></button>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 profile-content">
        <div class="col-12 tab-header">
          <div class="row">
            <div (click)="openTab('b1','bb1');" id="bb1" class="tab-title tab-active"> <span>Decks</span></div>
            <div (click)="openTab('b2','bb2');" id="bb2" class="tab-title"> <span>Followers</span></div>
            <div (click)="openTab('b3','bb3');" id="bb3" class="tab-title"> <span>Following</span></div>
          </div>
        </div>

        <div class="container" style="width: 100%">
          <div id="b1" class="containerTab">
            <div class="container-tab-content">
              <div class="list-deck">
                <div *ngFor="let deck of user.decks">
                  <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-4 image-wrap">
                      <a href ="#" [routerLink]="['/decks', deck.id]">
                        <img src="{{deck.cover_image.url}}" onError="this.src='./assets/images/deck-demo.jpg';" alt="deck-cover_image" style="width: 150px; height: 172px">
                      </a>
                    </div>
                    <div class="col-md-8" style="margin-top: 5px">
                      <a href ="#" [routerLink]="['/decks', deck.id]">
                        <div class="deck-title">{{deck.title}}</div>
                      </a>
                      <a href ="#" [routerLink]="['/decks', deck.id]">
                        <div class="deck-des">{{deck.description}}</div>
                      </a>
                      <a href="#" [routerLink]="['/decks', deck.id]" class="number">
                        <i class="fa fa-star"></i> {{deck.favorite_count}}
                      </a>

                      <!-- <a href="#" ><i class="fa fa-window-restore"></i> {{deck.cards.length}}
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="b2" class="containerTab" style="display:none;">
            <div class="list-user">
              <div *ngFor="let user of user.followers">
                <user-follow-detail [user]="user"></user-follow-detail>
              </div>
            </div>
          </div>
          <div id="b3" class="containerTab" style="display:none;">
            <div class="list-user">
              <div *ngFor="let user of user.following">
                <user-follow-detail [user]="user"></user-follow-detail>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
