<header>
  <div class="header-logo">
    <div class="inner">
      <div class="logo">
        <%= link_to image_tag("logo.jpg"), root_path %>
        <div class="name-logo">
          <%= link_to "tinycards", root_path %>
        </div>
      </div>

      <div class="search">
        <form class="form-inline">
          <input class="form-control f-search" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>

      <div class="nav-list">
        <div class="nav-item">
          <a href="#" class="cl-text fa fa-home"> HOME</a>
        </div>
        <div class="nav-item">
          <a href="#" class="cl-text fa fa-plus"> CREATE</a>
        </div>
        <div class="nav-item">
          <% if user_signed_in? %>
            <%= link_to " SIGN OUT", destroy_user_session_path, method: :delete, data: {hover: "Sign out"}, class: "cl-text fa fa-user" %>
          <% else %>
            <%= link_to " LOG IN", new_user_session_path, class: "cl-text fa fa-user" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
