<% if @post.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".post" %>
      <%= pluralize(@post.errors.count, t(".error")) %>.
    </div>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
