.left {
  padding: 20px;
}
.left .img-deck {
  height: 310px;
}
.left .img-deck img {
  width: 90%;
  margin: auto;
  display: block;
  border-radius: 20px;
}
.left .pd-top-10 {
  padding-top: 10px;
}
.left .txt {
  margin: 15px;
}
.left .txt input:focus{
  border-bottom: 2px solid #32cdff;
  font-family: DINNextRoundedLTPro-Medium, sans-serif;
  opacity: .9;
}
.left .txt input:placeholder-shown {
  font-family: DINNextRoundedLTPro-Medium, sans-serif;
  opacity: .8;
}
.left .txt .ip {
  background-color: transparent;
  border-left: none;
  border-radius: 0px;
  border-right: none;
  border-top: none;
  width: 100%;
}
.left .txt .name-deck {
  font-size: 25px;
  font-weight: bold;
}
.left .txt .author {
  margin-top: 15px;
  margin-bottom: 15px;
}
.left .txt .author img {
  width: 40px;
}
.left .txt .author .name {
  margin-left: 10px;
  font-weight: bold;
  color: cornflowerblue;
}
.left .txt .favorite {
  margin: auto;
}
.left .txt .btn-ct {
  margin-top: 20px;
}
.left .txt .btn-ct button {
  outline: none;
}
.left .txt .btn-ct .btn-ct-publ {
  background-color: #32cdff;
  border-radius: 12px;
  border: 2px solid #32cdff;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.7;
  width: 100%;
}
.left .txt .btn-ct .fa-cog {
  color: #32cdff;
}
.left .cover-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 310px;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.left .cover-deck .import-cover-deck {
  position: absolute;
  top: 45%;
  width: 100%;
}
.left .cover-deck .import-cover-deck .ct-text {
  color: #32cdff;
  font-weight: bold;
  margin-top: 10px;
}
.left .cover-deck .import-cover-deck img {
  width: 100%;
}
.left .cover-deck .preview-img {
  top: 0% !important;
}

.right {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  min-height: 400px;
  position: relative;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
}
.right .s-select {
  margin-left: 25px;
  padding: 20px;
}
.right .s-select .s-txt {
  color: darkgray;
  font-weight: bold;
  margin-right: 35px;
}
.right .s-select .s-active {
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
}
.right .containerTab {
  margin-top: 30px;
}
.right .list-lesson .item-lesson img {
  margin-bottom: 20px;
  width: 100%;
}
.add-card {
  position: absolute;
  right: 45px;
  top: 185px;
}
.add-card img {
  width: 110px;
}
.glyphicon {
  margin-top: -346px;
  margin-right: 40px;
  cursor: pointer;
}
.add {
  background-color: #32cdff;
  border-radius: 100%;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18);
  color: white;
  font-size: 45px;
  height: 65px;
  outline: none;
  position: fixed;
  width: 65px;
  z-index: 100;
}
.add span {
  margin-left: 20px;
  cursor: pointer;
}
.right .wrapper {
  padding: 10px 0 10px;
}
.right .wrapper .n-card {
  display: flex;
  margin-top: 25px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.del {
  background-color: white;
  border: none;
  outline: none;
}
.del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0;
}
.right .wrapper .n-card:hover {
  background-color: #F7F7F7;
}
.right .wrapper .n-card:hover .del {
  background-color: #F7F7F7;
}
.right .wrapper .number {
  flex: 1;
}
.right .wrapper .front-card {
  flex: 3;
}
.right .wrapper .back-card {
  flex: 3;
}
.right .wrapper .list-option {
  flex: 1;
}
.right .wrapper .list-option .del {
  background-color: white;
  border: none;
  outline: none;
}
.right .wrapper .list-option .del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0.7;
}
.right .wrapper .f-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  display: inline-block;
  height: 310px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.right .wrapper .f-deck .import-cover-deck {
  position: absolute;
  top: 40%;
  width: 100%;
}
.right .wrapper .f-deck .import-cover-deck .ct-text {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 1200px) {
  .left .cover-deck {
    height: 255px;
  }

  .right .wrapper .f-deck {
    height: 255px;
  }
}
