<div class="container">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <div class="row" style="margin-top: 25px;">
      <div class="col-xs-12 col-md-4">
        <div class="left">
          <div class="cover-deck" (click)="coverImgModal.open()" data-whatever="@mdo">
            <div id="preview-img" class="import-cover-deck">
              <img id="blah" src="#"/>
              <div class="img-tog">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <div class="change-cover">
                  <p class="ct-text">CHOOSE COVER</p>
                </div>
              </div>
            </div>
          </div>
          <div class="txt pd-top-10">
            <div class="title-deck">
              <input type="text" style="outline: none; font-size: 25px" formControlName="title" placeholder="Enter title" class="ip input-title">
            </div>
            <div class="description-deck" style="margin-top: 15px;">
              <input type="text" style="outline: none; font-size: 18px" formControlName="description" placeholder="Enter description" class="ip input-des">
            </div>
            <!-- <input formControlName="cover_image" type="text" (change)="readURL(this);"> -->
            <!-- <input #cover_image type="file"/> -->
            <!-- <button (click)="addFile()">Add</button> -->

            <div class="btn-ct">
              <button type="button" class="btn btn-ct-setting"><i class="fa fa-cog" aria-hidden="true"></i></button>
              <button type="submit" class="btn btn-ct-publ btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div formArrayName="cards_attributes" *ngFor="let cards_attributes of myForm.controls.cards_attributes.controls; let i=index">
          <div class="right prepend-body-content card-body">
            <div class="add-card">
              <a (click)="addCard()" style="cursor: default">
                Add another card +
              </a>
            </div>
            <div [formGroupName]="i">
              <card [group]="myForm.controls.cards_attributes.controls[i]"></card>
            </div>
            <div class="panel-heading">
              <span>Address {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.cards_attributes.controls.length > 1" (click)="removeCard(i)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal #coverImgModal>
          <modal-header>
            <h5 id="coverImgModalLabel">INSERT IMAGE</h5>
          </modal-header>
          <modal-content>
          <input class="form-control" type="file" name="avatar" (change)="imageUpload($event)">
          <img [src]="imageUrl" />
            <!-- <input formControlName="cover_image" type="file" (change)="readURL(this);"> -->
            <!-- <%= f.file_field :cover_image, id: "imgInp" %> -->
          </modal-content>
          <modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="coverImgModal.close()">Close</button>
          </modal-footer>
    </modal>
  </form>
</div>
