<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
          <h4 class="title" style="font-size: 25px">List users</h4>
          <p>
            <%= t ".download" %>:
            <%= link_to t(".csv"), admins_users_path(format: "csv") %> |
            <%= link_to t(".excel"), admins_users_path(format: "xls") %>
          </p>
        </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover">
          <thead>
            <th>STT</th>
            <th style="width: 15%">Username</th>
            <th style="width: 20%">Email</th>
            <th style="width: 20%">Created at</th>
            <th style="width: 20%">Updated at</th>
            <th style="width: 15%">Decks</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% if @users.any? %>
              <div><%= render @users %></div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
