/* Dinh nghia font moi de dung cho du an*/
@font-face {
  font-family: DINNextRoundedLTPro-Light;
  font-style: normal;
  src: local("DINNextRoundedLTPro-Light"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Light.woff2) format("woff2"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Light.woff) format("woff"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Light.ttf) format("truetype"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Light.svg) format("svg");
}
@font-face {
  font-family: DINNextRoundedLTPro-Regular;
  font-style: normal;
  src: local("DINNextRoundedLTPro-Regular"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Regular.woff2) format("woff2"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Regular.woff) format("woff"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Regular.ttf) format("truetype"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Regular.svg) format("svg");
}
@font-face {
  font-family: DINNextRoundedLTPro-Medium;
  font-style: normal;
  src: local("DINNextRoundedLTPro-Medium"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Medium.woff2) format("woff2"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Medium.woff) format("woff"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Medium.ttf) format("truetype"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Medium.svg) format("svg");
}
@font-face {
  font-family: DINNextRoundedLTPro-Bold;
  font-style: normal;
  src: local("DINNextRoundedLTPro-Bold"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.woff2) format("woff2"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.woff) format("woff"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.ttf) format("truetype"), url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.svg) format("svg");
}

body {
  background-color: #F7F7F7;
  margin: 0px;
  color: #5c5c5c;
  line-height: 1.5;
}
body a:link, body a:visited, body a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a:focus, button:focus, input:focus, div:focus, textarea:focus {
  outline: none;
}

.list-card {
  margin: 20px;
}
.list-card .item-card {
  background-color: blanchedalmond;
  border-radius: 15px;
  height: 230px;
  text-align: center;
  cursor: pointer;
}
.list-card .item-card img {
  margin-bottom: 20px;
  width: 100%;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerr {
  position: relative;
  float: left;
  width: 200px;
  height: 260px;
  margin: 10px;
  background: #fff;
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.ct-card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  width: 200px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ct-card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .front,
.ct-card .back {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.ct-card .front {
  background: #a3a3a3;
}

.ct-card .back {
  background: while;
  color: black;
  opacity: 0.8;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.del {
  background-color: white;
  border: none;
  outline: none;
}
.del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0;
}

.left {
  padding: 20px;
}
.left .img-deck {
  height: 310px;
}
.left .img-deck img {
  width: 90%;
  margin: auto;
  display: block;
  border-radius: 20px;
}
.left .pd-top-10 {
  padding-top: 10px;
}
.left .txt {
  margin: 15px;
}
.left .txt .ip {
  background-color: transparent;
  border-left: none;
  border-radius: 0px;
  border-right: none;
  border-top: none;
  width: 100%;
}
.left .txt .name-deck {
  font-size: 25px;
  font-weight: bold;
}
.left .txt .author {
  margin-top: 15px;
  margin-bottom: 15px;
}
.left .txt .author img {
  width: 40px;
}
.left .txt .author .name {
  margin-left: 10px;
  font-weight: bold;
  color: cornflowerblue;
}
.left .txt .favorite {
  margin: auto;
}
.left .txt .btn-ct {
  margin-top: 20px;
}
.left .txt .btn-ct .btn-ct-setting {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #32cdff;
  width: 15%;
}
.left .txt .btn-ct .btn-ct-publ {
  cursor: pointer;
  font-weight: bold;
  background-color: #32cdff;
  border-color: #32cdff;
  border-radius: 12px;
  margin-left: 8px;
  opacity: 0.7;
  width: 78%;
}
.left .txt .btn-ct .fa-cog {
  color: #32cdff;
}
.left .cover-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 310px;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.left .cover-deck .import-cover-deck {
  position: absolute;
  top: 45%;
  width: 100%;
}
.left .cover-deck .import-cover-deck .ct-text {
  color: #32cdff;
  font-weight: bold;
  margin-top: 10px;
}
.left .cover-deck .import-cover-deck img {
  width: 100%;
}
.left .cover-deck .preview-img {
  top: 0% !important;
}

.right {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  min-height: 400px;
  position: relative;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
}
.right .s-select {
  margin-left: 25px;
  padding: 20px;
}
.right .s-select .s-txt {
  color: darkgray;
  font-weight: bold;
  margin-right: 35px;
}
.right .s-select .s-active {
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
}
.right .containerTab {
  margin-top: 30px;
}
.right .list-lesson .item-lesson img {
  margin-bottom: 20px;
  width: 100%;
}
.right .add-card {
  position: absolute;
  right: 32px;
  top: 160px;
}
.right .add-card img {
  width: 110px;
}
.right .add-card .add {
  background-color: #32cdff;
  border-radius: 100%;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18);
  color: white;
  font-size: 45px;
  height: 65px;
  outline: none;
  position: fixed;
  width: 65px;
  z-index: 100;
}
.right .wrapper {
  padding: 10px 0 10px;
}
.right .wrapper .n-card {
  display: flex;
  margin-top: 25px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.right .wrapper .n-card:hover {
  background-color: #F7F7F7;
}
.right .wrapper .n-card:hover .del {
  background-color: #F7F7F7;
}
.right .wrapper .n-card:hover .del .fa-trash-o {
  opacity: 0.7;
}
.right .wrapper .number {
  flex: 1;
}
.right .wrapper .front-card {
  flex: 3;
}
.right .wrapper .front-card .image {
  display: block;
  width: 45px;
  margin: 15px;
}
.right .wrapper .front-card .add-img {
  width: 100%;
}
.right .wrapper .back-card {
  flex: 3;
}
.right .wrapper .list-option {
  flex: 1;
}
.right .wrapper .f-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  display: inline-block;
  height: 310px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.right .wrapper .f-deck .import-cover-deck {
  position: absolute;
  top: 40%;
  width: 100%;
}
.right .wrapper .f-deck .import-cover-deck .ct-text {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 1200px) {
  .left .cover-deck {
    height: 255px;
  }

  .right .wrapper .f-deck {
    height: 255px;
  }
}
.show-value {
  min-height: 700px;
  background-color: White;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
  width: auto;
}
.show-value .slide {
  height: 200px;
  width: 100%;
  background-color: #ddddff;
  border-radius: 8px;
}
.show-value .favorites {
  min-height: 350px;
}
.show-value .favorites .title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
.show-value .favorites .item-deck {
  height: 240px;
  padding: 10px;
  width: 170px;
}
.show-value .favorites .item-deck img {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
}
.show-value .favorites .item-deck .image-cover {
  height: 174px;
  background-color: #fff;
}
.show-value .favorites .item-deck .name {
  margin-top: 10px;
}
.show-value .favorites .item-deck .name .name-deck {
  color: #5c5c5c;
  font-size: 18px;
  font-weight: bold;
}

.header-wrap {
  height: 100px;
}

header {
  background-color: #00CCFC;
  height: 60px;
}

.header-logo {
  height: 60px;
  margin: auto;
  max-width: 1082px;
  padding: 0;
  position: relative;
}

.inner {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
}

.nav-logo {
  display: flex;
}

.nav-logo-image {
  margin-top: 5px;
}

.name-logo {
  color: White;
  font-size: 30px;
  font-weight: bold;
  margin: auto 8px;
}

.search-form {
  width: 320px;
  border: none;
  border-radius: 10px;
}

.search-input {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #5c5c5c;
  font-size: 15px;
  height: 42px;
  padding: 5px 0 0 50px;
  width: 100%;
}

.search-input:placeholder-shown {
  background-color: #6fdcff;
}

.search-input::placeholder {
  color: #fff;
  font-family: DINNextRoundedLTPro-Medium, sans-serif;
  opacity: .8;
  text-transform: uppercase;
}

.search-input-focus {
  background-color: #fff;
}

.txt-home {
  color: White;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin-right: 20px;
}

.nav-list {
  display: flex;
  position: absolute;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-list .nav-item {
  color: White;
  display: block;
  padding: 15px 15px;
}
.nav-list .nav-item .nav-text {
  display: inline-block;
  font-family: DINNextRoundedLTPro-Bold, sans-serif;
  font-size: 15px;
  margin-top: -7px;
  text-transform: uppercase;
  vertical-align: middle;
  height: 20px;
}
.nav-list .nav-item-active {
  border-bottom: 2px solid #fff;
}
.nav-list .cl-text {
  color: White;
}

.nav-icon {
  font-size: 24px;
}

footer .quick-links {
  margin-bottom: 20px;
  margin-top: 90px;
  text-align: center;
}
footer .quick-links .link-item {
  color: #c4c4c4;
  font-weight: bold;
  margin: 20px;
  padding: 15px;
}

.les-wrapper {
  background-color: white;
  border-radius: 10px;
  min-height: 650px;
  padding: 15px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
}
.les-wrapper .les-card {
  min-height: 500px;
  text-align: center;
  margin: 50px auto;
  width: 300px;
  border-radius: 15px;
}
.les-wrapper .les-card img {
  width: 100%;
  border-radius: 15px;
}
.les-wrapper .les-card .containerr {
  width: 100%;
  margin: auto;
  height: 345px;
}
.les-wrapper .les-card .containerr .ct-card {
  width: 100%;
}
.les-wrapper .les-card .containerr .front img {
  border-radius: 15px;
}
.les-wrapper .les-card .containerr .back {
  border-radius: 15px;
  background-color: while;
}
.les-wrapper .les-card .title {
  border-radius: 15px;
  color: #ffc615;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.les-wrapper .les-card .btn-continue {
  background-color: #32cdff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 20px;
  margin: 15px 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
}
.les-wrapper .les-card .btn-continue:hover {
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}

/* Sign in form*/
.login-form {
  background-color: #fff;
  border-radius: 20px;
  height: 450px;
  margin-top: 30px;
  margin: auto;
  padding: 35px;
  width: 350px;
}

.login-form-label {
  color: #5c5c5c;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
  font-size: 21px;
  margin-bottom: 15px;
}

.social-login {
  margin-top: 20px;
}

.btn-social-signin {
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 15px;
  padding: 12px 0 8px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.google-signin {
  background-color: #df360a;
}

.facebook-signin {
  background-color: #39559f;
}

.devide-login {
  border-bottom: 1px solid #e8e8e8;
  margin: 30px 0;
  position: relative;
}

.devide-text {
  background-color: #fff;
  color: #898989;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
  font-size: 21px;
  left: 50%;
  padding: 0 10px;
  position: absolute;
  top: -12px;
  -webkit-transform: translateX(-50%);
  text-transform: uppercase;
  transform: translateX(-50%);
}

.btn-custome {
  background-color: #32cdff;
  border-radius: 4px;
  color: #fff;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 15px;
  padding: 12px 0 8px;
  text-align: center;
}
.btn-custome:hover {
  filter: brightness(95%);
}

.link-custome {
  background-color: transparent;
  border: none;
  color: #32cdff;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  text-transform: uppercase;
}
.link-custome:hover {
  color: #32cdff;
  text-decoration: none;
  filter: brightness(95%);
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.user-profile .user-profile-info {
  padding: 0 15px;
}
.user-profile .user-profile-info .user-profile-avatar {
  border: 5px solid #fff;
  border-radius: 100%;
  height: 120px;
  margin: auto;
  width: 120px;
}
.user-profile .user-profile-info .user-profile-name {
  color: #5c5c5c;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
  font-size: 27px;
  margin-top: 20px;
  padding: 0;
}
.user-profile .user-profile-info .user-profile-follow {
  color: #32cdff;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
.user-profile .user-profile-info .profile-device {
  background-color: #e8e8e8;
  height: 1px;
  margin: 15px 0;
  width: 100%;
}
.user-profile .user-profile-info .profile-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  white-space: nowrap;
  text-align: center;
}
.user-profile .user-profile-info .profile-setting a {
  position: relative;
  background-color: transparent;
  border: 2px solid #32cdff;
  border-radius: 7px;
  color: #32cdff;
  padding: 6px 35px;
}
.user-profile .user-profile-info .profile-setting a .img-setting {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 23px;
  margin-right: 5px;
  width: 23px;
}
.user-profile .user-profile-info .profile-setting a .text-setting {
  display: inline-block;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 15px;
  margin-top: 3px;
  text-transform: uppercase;
  vertical-align: top;
}
.user-profile .user-profile-info .profile-setting a:hover {
  filter: brightness(95%);
}
.user-profile .user-profile-info .profile-setting .button-profile {
  box-sizing: border-box;
  margin-left: 6px;
  max-width: 42px;
  background-color: transparent;
  border: 2px solid #32cdff;
  border-radius: 7px;
  color: #32cdff;
  padding: 8px 0 0;
}
.user-profile .user-profile-info .profile-setting .button-profile .button-icon {
  display: inline-block;
  height: 23px;
  width: 14px;
}
.user-profile .user-profile-info .profile-setting .button-profile:hover {
  filter: brightness(95%);
}
.user-profile .profile-content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
}
.user-profile .profile-content .tab-header {
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
}
.user-profile .profile-content .tab-header .tab-title {
  color: #c4c4c4;
  display: inline-block;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 15px;
  margin-left: 60px;
  padding: 25px 0 10px;
  text-transform: uppercase;
}
.user-profile .profile-content .container-tab {
  padding: 32px 0;
  position: relative;
  text-align: left;
}
.user-profile .profile-content .container-tab .container-tab-content {
  padding: 0 40px;
}
.user-profile .profile-content .container-tab .container-tab-content .image-wrap {
  flex-shrink: 0;
  margin: 0 40px 20px 0;
  position: relative;
}

.tab-active {
  border-bottom: 4px solid #32cdff;
  color: #32cdff;
  padding-bottom: 11px;
}

.deck-title {
  font-size: 30px;
}
