<div class="show-value">
  <div class="slide">
    <h1>Slide</h1>
  </div>
  <div class="favorites">
    <div class="container">
      <div class="title">
        <span class="txt">Your favorites</span>
      </div>
      <div class="list-decks-favor">
        <div class="row" style="margin: auto;">
          <%= render @decks %>
        </div>
      </div>
    </div>
  </div>
</div>
