WEB_SERVER: "unicorn"
NUM_UNICORN_WORKERS: "3"
REPO_URL: "git@github.com:framgia/casec_server.git"

EMAIL_USERNAME: "sample@sample.com"
EMAIL_PASSWORD: "sample1"
HOST: "localhost:3000"

AWS_REGION: "ap-northeast-1"
AWS_ACCESS_KEY_ID: "AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY: "AWS_SECRET_ACCESS_KEY"
S3_BUCKET_NAME: "S3_BUCKET_NAME"

DATABASE_HOSTNAME: "localhost"
DATABASE_NAME: "rails_app_development"
DATABASE_NAME_TEST: "rails_app_test"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "1234"
REDIS_HOSTNAME: "localhost"

ENV: "development"
SECRET_KEY_BASE: "4a6fb7f46d34aeb6c2372466e4aefb31e77c588f3912a72206834f9fe7d2b09b2caa059d187d71855874b75859180dc28c2a2657569dfeaddb40d59fbbd60524"
DEVISE_SECRET_KEY: "fa0363029ac83adab5a6db159ae99eaf36d170836a9f48844584e6dc26496dd7dc78a33222e5db9802351d9a8ef0ecadeb11ae896b3c629cfca2a556edfee47e"

WEB_SERVER: "unicorn"
NUM_UNICORN_WORKERS: "3"
