<section *ngIf="deck">
<div class="container">
  <div class="row" style="margin-top: 25px;">
    <div class="col-xs-12 col-md-4">
      <div class="left">
        <div class="img-deck" style="height: 330px">
          <img src="{{deck.cover_image.url}}" onError="this.src='./assets/images/deck-demo.jpg';" alt="deck-cover_image" style="height: 100%">
        </div>
        <div class="txt">
          <div class="name-deck">
            <span class="name">{{deck.title}}</span>
          </div>
          <div class="description-deck">
            <span class="des">{{deck.description}}</span>
          </div>
          <div class="author">
            <div class="img">
              <img src="./assets/images/avatar.png" alt="avatar">
              <a href="#" [routerLink]="['/users/', deck.user_id]" class="name">{{deck.user_name}}</a>
              <span class="favorite-number"><i class="fa fa-star" style="margin-right: 5px"></i>{{deck.favorite_count}}</span>
            </div>
          </div>
          <div class="favorite">
            <button (click)="toogleFavorite()" [class.btn-favorited]="favorited" type="button" class="btn btn-outline-success btn-favorite" style="border-radius: 10px"><i class="fa fa-star-o" aria-hidden="true"></i> FAVORITE</button>
            <button type="button" [routerLink]="['/decks/', deck.id, 'edit']" class="btn btn-outline-success" style="width: 16%; background-color: white;border: 2px solid #32cdff; border-radius: 10px; float: right;">
              <i class="fa fa-pencil" aria-hidden="true" style="color: #32cdff;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="right">
        <div class="s-select">
          <span (click)="openTab('b1','bb1');" id="bb1" class="s-txt lessons tab-active"> LESSONS</span>
          <span (click)="openTab('b2','bb2');" id="bb2" class="s-txt cards"> CARDS ({{deck.cards.length}})</span>
        </div>
        <hr style="margin-top: 0;">

        <div class="container" style="width: 100%; margin: auto">
          <div id="b1" class="containerTab">
            <div class="list-lesson">
              <div class="lesson-item" *ngFor= "let lesson of lessons; let i=index">
              <form [formGroup]="myFormLesson" novalidate (click)="click_lesson(lesson.id, myFormLesson)">
                <div class="_1vqs9">
                  <div class="_1iWkj _34_xG"><div class="_2zwto _1QXgH"></div><div class="_1XPsL _1QXgH"></div><div class="oSJeW _1QXgH"></div>
                  </div>
                  <div class="_27a_4">{{i+1}}</div>
                  <div></div>
                  <div class="_3YFFC _21gWC">
                    <span class="_2SILG _1-nKn" [style.width.%]="lesson.current_user_lesson ? lesson.current_user_lesson.percent : 0"></span>
                  </div>
                  <input type="hidden" formControlName="lesson_id" form>
                </div>
              </form>
              </div>
                
            </div>
          </div>

          <div id="b2" class="containerTab" style="display:none;">
            <div class="list-card">
              <div class="row" style="width: 98%;margin: auto;">
                <div class="containerr" *ngFor="let card of deck.cards">
                  <div class="ct-card" (click)="flipped($event)" [class.flipped]="false">
                    <div class="item-card front">
                      <div *ngIf="card.picture" style="height: 182px">
                        <img src="{{card.picture.url}}">
                      </div>
                      <p class="txt-front">{{card.front}}</p>
                    </div>
                    <div class="item-card back">
                      <p>{{card.back}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
