.btn-favorite {
  background-color: transparent;
  width: 80%;
  margin-right: 5px;
  color: #32cdff;
  border: 2px solid #32cdff;
}

.btn-favorited {
  background-color: #32cdff;
  width: 80%;
  margin-right: 5px;
  color: white;
  border: 2px solid #32cdff;
}

.favorite-number {
  color: #c4c4c4;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
  font-size: 20px;
  margin-top: 10px;
  vertical-align: middle;
  float: right;
}

.left {
  padding: 20px;
}
.left .img-deck img {
  width: 90%;
  margin: auto;
  display: block;
  border-radius: 20px;
}
.left .pd-top-10 {
  padding-top: 10px;
}
.left .txt {
  margin: 15px;
  font-family: DINNextRoundedLTPro-Regular,sans-serif;
  opacity: .8;
}
.left .txt .ip {
  background-color: transparent;
  border-left: none;
  border-radius: 0px;
  border-right: none;
  border-top: none;
  width: 100%;
}
.left .txt .name-deck {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.left .txt .description-deck {
  font-size: 16px;
}
.left .txt .author {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}
.left .txt .author a {
  text-decoration: none;
}
.left .txt .author img {
  width: 40px;
}
.left .txt .author .name {
  margin-left: 10px;
  font-weight: bold;
  color: cornflowerblue;
}
.left .txt .favorite {
  margin: auto;
}
.left .txt .favorite button {
  outline: none;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
}
.left .txt .btn-ct {
  margin-top: 20px;
}
.left .txt .btn-ct .btn-ct-setting {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #32cdff;
  width: 15%;
}
.left .txt .btn-ct .btn-ct-publ {
  cursor: pointer;
  font-weight: bold;
  background-color: #32cdff;
  border-color: #32cdff;
  border-radius: 12px;
  margin-left: 8px;
  opacity: 0.7;
  width: 78%;
}
.left .txt .btn-ct .fa-cog {
  color: #32cdff;
}
.left .cover-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 310px;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.left .cover-deck .import-cover-deck {
  position: absolute;
  top: 45%;
  width: 100%;
}
.left .cover-deck .import-cover-deck .ct-text {
  color: #32cdff;
  font-weight: bold;
  margin-top: 10px;
}
.left .cover-deck .import-cover-deck img {
  width: 100%;
}
.left .cover-deck .preview-img {
  top: 0% !important;
}

.right {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  min-height: 400px;
  padding: 0 0 20px;
  position: relative;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
}
.right .s-select .s-txt {
  color: #c4c4c4;
  display: inline-block;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 15px;
  margin-left: 60px;
  padding: 25px 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.right .s-select .tab-active {
  border-bottom: 4px solid #32cdff;
  color: #32cdff;
  padding-bottom: 11px;
}
.right .containerTab {
  margin-top: 30px;
}
.right .list-lesson {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.right .list-lesson .item-lesson {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  height: 166px;
  width: 144px;
  position: relative;
}
.right .list-lesson .item-lesson img {
  margin-bottom: 30px;
  width: 100%;
}
.right .add-card {
  position: absolute;
  right: 32px;
  top: 160px;
}
.right .add-card img {
  width: 110px;
}
.right .add-card .add {
  background-color: #32cdff;
  border-radius: 100%;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18);
  color: white;
  font-size: 45px;
  height: 65px;
  outline: none;
  position: fixed;
  width: 65px;
  z-index: 100;
}
.right .wrapper {
  padding: 10px 0 10px;
}
.right .wrapper .n-card {
  display: flex;
  margin-top: 25px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.right .wrapper .n-card:hover {
  background-color: #F7F7F7;
}
.right .wrapper .n-card:hover .del {
  background-color: #F7F7F7;
}
.right .wrapper .number {
  flex: 1;
}
.right .wrapper .front-card {
  flex: 3;
}
.right .wrapper .back-card {
  flex: 3;
}
.right .wrapper .list-option {
  flex: 1;
}
.right .wrapper .list-option .del {
  background-color: white;
  border: none;
  outline: none;
}
.right .wrapper .list-option .del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0.7;
}
.right .wrapper .f-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  display: inline-block;
  height: 310px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.right .wrapper .f-deck .import-cover-deck {
  position: absolute;
  top: 40%;
  width: 100%;
}
.right .wrapper .f-deck .import-cover-deck .ct-text {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 1200px) {
  .left .cover-deck {
    height: 255px;
  }

  .right .wrapper .f-deck {
    height: 255px;
  }
}

.list-card {
  margin: 20px;
}
.list-card .item-card {
  background-color: #fff;
  border-radius: 15px;
  height: 230px;
  text-align: center;
  cursor: pointer;
}
.list-card .item-card img {
  width: 70%;
  height: 160px;
  border-radius: 15px;
  margin-top: 20px;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerr {
  position: relative;
  float: left;
  width: 200px;
  height: 230px;
  margin: 10px;
  background: #fff;
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.ct-card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  width: 200px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ct-card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .front,
.ct-card .back {
  display: block;
  height: 100%;
  width: 100%;
  color: #828181;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  text-align: center;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.ct-card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .back p {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.del {
  background-color: white;
  border: none;
  outline: none;
}
.del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0;
}
.wrapper {
  padding: 10px 0 10px;
}
.wrapper .n-card {
  display: flex;
  margin-top: 25px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.wrapper .n-card:hover {
  background-color: #f7f7f7;
}
.wrapper .n-card:hover .del {
  background-color: #f7f7f7;
}
.wrapper .n-card:hover .del .fa-trash-o {
  opacity: 0.7;
}
.wrapper .number {
  flex: 1;
}
.wrapper .front-card {
  flex: 3;
}
.wrapper .front-card .image {
  display: block;
  width: 45px;
  margin: 15px;
}
.wrapper .front-card .add-img {
  width: 100%;
}
.wrapper .back-card {
  flex: 3;
}
.wrapper .list-option {
  flex: 1;
}
.wrapper .f-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .17);
  box-sizing: border-box;
  display: inline-block;
  height: 310px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.wrapper .f-deck .import-cover-deck {
  position: absolute;
  top: 40%;
  width: 100%;
}
.wrapper .f-deck .import-cover-deck .ct-text {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}




._1QXgH{position:absolute;width:100%;}
._1QXgH{background-color:#fff;border-radius:18px;box-shadow:0 2px 9px rgba(0,0,0,.1);height:100%;left:50%;top:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
._1iWkj{height:166px;margin-bottom:12px;position:relative;width:144px;z-index:0;}
._2zwto{height:100%;width:100%;z-index:2;}
._1XPsL{height:99%;top:6px;width:99%;z-index:1;}
.oSJeW{height:98%;top:12px;width:98%;z-index:0;}
@media (max-width:1208px){
._1QXgH{border-radius:18px;}
._1iWkj{height:166px;width:144px;}
}
@media (max-width:1008px){
._1QXgH{border-radius:14.5px;}
._1iWkj{height:134px;width:116px;}
}
@media (max-width:444px){
._1QXgH{border-radius:4vw;}
._1iWkj{height:37vw;margin-bottom:3vw;width:32vw;}
._1XPsL{top:1vw;}
.oSJeW{top:2vw;}
}

._2SILG{background:linear-gradient(90deg,#ffd600,#ffc615);border-radius:14px;display:block;height:100%;overflow:hidden;position:relative;}
._3YFFC{background:#eef1f4;border-radius:25px;height:14px;margin:auto;overflow:hidden;position:absolute;}

._34_xG{display:block;left:50%;position:absolute;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);z-index:0;}
._1vqs9{border:none;cursor:pointer;display:inline-block;height:166px;margin:12px;padding:0;position:relative;text-align:center;width:144px;}
._27a_4{color:#5c5c5c;font-family:DINNextRoundedLTPro-Bold,sans-serif;font-size:36px;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:100%;z-index:1;}
._27a_4{position:absolute;top:50%;}
._1-nKn{transition:width .5s;transition-timing-function:ease-in-out;}
._21gWC{bottom:18px;left:15%;width:70%;}
@media (max-width:1208px){
._1vqs9,._34_xG{height:143px;width:124px;}
._1vqs9{margin:12px 8px;}
}
@media (max-width:1008px){
._1vqs9,._34_xG{height:134px;width:116px;}
._1vqs9{margin:12px;}
}
@media (max-width:444px){
._1vqs9,._34_xG{height:31vw;width:26.66667vw;}
._1vqs9{margin:2.5vw;}
._27a_4{font-size:27px;}
._21gWC{bottom:3vw;}
}

@font-face{font-family:DINNextRoundedLTPro-Bold;font-style:normal;src:local("DINNextRoundedLTPro-Bold"),url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.woff2) format("woff2"),url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.woff) format("woff"),url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.ttf) format("truetype"),url(//d17u0960v8a9bp.cloudfront.net/font/din/DINNextRoundedLTPro-Bold.svg) format("svg");}

/*! CSS Used from: https://d17u0960v8a9bp.cloudfront.net/styles-da1f689055fea3aa6611.css */
._1vqs9{border:none;cursor:pointer;display:inline-block;height:166px;margin:12px;padding:0;position:relative;text-align:center;width:144px;}
.V9MS7{position:absolute;top:50%;}
.V9MS7{left:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);width:50px;}
.G7N8s{background-color:#eef1f4;border-radius:18px;cursor:default;height:178px;margin:12px;text-align:center;vertical-align:top;width:144px;}
@media (max-width:1208px){
._1vqs9{height:143px;width:124px;}
._1vqs9{margin:12px 8px;}
.G7N8s{height:155px;width:124px;}
.G7N8s{border-radius:15.5px;}
}
@media (max-width:1008px){
._1vqs9{height:134px;width:116px;}
._1vqs9{margin:12px;}
.G7N8s{height:146px;width:116px;}
.G7N8s{border-radius:14.5px;}
}
@media (max-width:444px){
._1vqs9{height:31vw;width:26.66667vw;}
._1vqs9{margin:2.5vw;}
.V9MS7{width:10vw;}
.G7N8s{border-radius:3.33333vw;height:34vw;width:26.66667vw;}
}

img{border-style:none;}
::-webkit-input-placeholder{color:inherit;opacity:.54;}
*{-webkit-tap-highlight-color:transparent;}
div:focus{outline:none;}

.feedback {
  background: transparent;
  border: none;
  color: blueviolet;
  font-size: 27px;
  font-weight: bold;
  outline: none;
  position: absolute;
  right: 0px;
  top: -50px;
}

.checkb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkb:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkb input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkb input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkb .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media only screen and (max-width: 450px) {
  .container {
    background-color: #fff;
  }
  .left {
    padding: 0;
    position: relative;
  }
  .txt {
    margin: 0 !important;
  }
  .img-deck {
    height: 100% !important;
  }
  .img-deck img {
    width: 100% !important;
  }
  .name-deck {
    margin-bottom: 5px !important;
  }
  .author {
    margin-top: 10px !important;
  }
  .favorite {
    position: absolute;
    left: -110px;
    width: 345px;
    display: block;
  }
  .mg-bt-30 {
    margin-bottom: 30px;
  }
  .right {
    border-radius: 0;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0);
  }
  .containerTab {
    margin-top: 0px !important;
  }
  ._1vqs9 {
    display: block;
    margin: 5px auto 20px;
  }
  .containerr {
    display: block;
    margin: auto;
    float: none;
    margin-bottom: 20px;
  }
  .list-card {
    margin: 10px;
  }
}
