.btn-favorite {
  background-color: transparent;
  width: 80%;
  margin-right: 5px;
  color: #32cdff;
  border: 2px solid #32cdff;
}

.btn-favorited {
  background-color: #32cdff;
  width: 80%;
  margin-right: 5px;
  color: white;
  border: 2px solid #32cdff;
}

.favorite-number {
  color: #c4c4c4;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
  font-size: 20px;
  margin-top: 10px;
  vertical-align: middle;
  float: right;
}

.left {
  padding: 20px;
}
.left .img-deck img {
  width: 90%;
  margin: auto;
  display: block;
  border-radius: 20px;
}
.left .pd-top-10 {
  padding-top: 10px;
}
.left .txt {
  margin: 15px;
  font-family: DINNextRoundedLTPro-Regular,sans-serif;
  opacity: .8;
}
.left .txt .ip {
  background-color: transparent;
  border-left: none;
  border-radius: 0px;
  border-right: none;
  border-top: none;
  width: 100%;
}
.left .txt .name-deck {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.left .txt .description-deck {
  font-size: 16px;
}
.left .txt .author {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}
.left .txt .author a {
  text-decoration: none;
}
.left .txt .author img {
  width: 40px;
}
.left .txt .author .name {
  margin-left: 10px;
  font-weight: bold;
  color: cornflowerblue;
}
.left .txt .favorite {
  margin: auto;
}
.left .txt .favorite button {
  outline: none;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
}
.left .txt .btn-ct {
  margin-top: 20px;
}
.left .txt .btn-ct .btn-ct-setting {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #32cdff;
  width: 15%;
}
.left .txt .btn-ct .btn-ct-publ {
  cursor: pointer;
  font-weight: bold;
  background-color: #32cdff;
  border-color: #32cdff;
  border-radius: 12px;
  margin-left: 8px;
  opacity: 0.7;
  width: 78%;
}
.left .txt .btn-ct .fa-cog {
  color: #32cdff;
}
.left .cover-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 310px;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.left .cover-deck .import-cover-deck {
  position: absolute;
  top: 45%;
  width: 100%;
}
.left .cover-deck .import-cover-deck .ct-text {
  color: #32cdff;
  font-weight: bold;
  margin-top: 10px;
}
.left .cover-deck .import-cover-deck img {
  width: 100%;
}
.left .cover-deck .preview-img {
  top: 0% !important;
}

.right {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  min-height: 400px;
  padding: 0 0 20px;
  position: relative;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
}
.right .s-select .s-txt {
  color: #c4c4c4;
  display: inline-block;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  font-size: 15px;
  margin-left: 60px;
  padding: 25px 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.right .s-select .tab-active {
  border-bottom: 4px solid #32cdff;
  color: #32cdff;
  padding-bottom: 11px;
}
.right .containerTab {
  margin-top: 30px;
}
.right .list-lesson {
  position: relative;
}
.right .list-lesson .item-lesson {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  height: 166px;
  width: 144px;
  position: relative;
}
.right .list-lesson .item-lesson img {
  margin-bottom: 30px;
  width: 100%;
}
.right .add-card {
  position: absolute;
  right: 32px;
  top: 160px;
}
.right .add-card img {
  width: 110px;
}
.right .add-card .add {
  background-color: #32cdff;
  border-radius: 100%;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18);
  color: white;
  font-size: 45px;
  height: 65px;
  outline: none;
  position: fixed;
  width: 65px;
  z-index: 100;
}
.right .wrapper {
  padding: 10px 0 10px;
}
.right .wrapper .n-card {
  display: flex;
  margin-top: 25px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.right .wrapper .n-card:hover {
  background-color: #F7F7F7;
}
.right .wrapper .n-card:hover .del {
  background-color: #F7F7F7;
}
.right .wrapper .number {
  flex: 1;
}
.right .wrapper .front-card {
  flex: 3;
}
.right .wrapper .back-card {
  flex: 3;
}
.right .wrapper .list-option {
  flex: 1;
}
.right .wrapper .list-option .del {
  background-color: white;
  border: none;
  outline: none;
}
.right .wrapper .list-option .del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0.7;
}
.right .wrapper .f-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  display: inline-block;
  height: 310px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.right .wrapper .f-deck .import-cover-deck {
  position: absolute;
  top: 40%;
  width: 100%;
}
.right .wrapper .f-deck .import-cover-deck .ct-text {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 1200px) {
  .left .cover-deck {
    height: 255px;
  }

  .right .wrapper .f-deck {
    height: 255px;
  }
}

.list-card {
  margin: 20px;
}
.list-card .item-card {
  background-color: #fff;
  border-radius: 15px;
  height: 230px;
  text-align: center;
  cursor: pointer;
}
.list-card .item-card img {
  width: 70%;
  height: 160px;
  border-radius: 15px;
  margin-top: 20px;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerr {
  position: relative;
  float: left;
  width: 200px;
  height: 230px;
  margin: 10px;
  background: #fff;
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.ct-card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  width: 200px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ct-card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .front,
.ct-card .back {
  display: block;
  height: 100%;
  width: 100%;
  color: #828181;
  font-family: DINNextRoundedLTPro-Bold,sans-serif;
  text-align: center;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.ct-card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ct-card .back p {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.del {
  background-color: white;
  border: none;
  outline: none;
}
.del .fa-trash-o {
  color: #32cdff;
  font-size: 25px;
  opacity: 0;
}
.wrapper {
  padding: 10px 0 10px;
}
.wrapper .n-card {
  display: flex;
  margin-top: 25px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.wrapper .n-card:hover {
  background-color: #f7f7f7;
}
.wrapper .n-card:hover .del {
  background-color: #f7f7f7;
}
.wrapper .n-card:hover .del .fa-trash-o {
  opacity: 0.7;
}
.wrapper .number {
  flex: 1;
}
.wrapper .front-card {
  flex: 3;
}
.wrapper .front-card .image {
  display: block;
  width: 45px;
  margin: 15px;
}
.wrapper .front-card .add-img {
  width: 100%;
}
.wrapper .back-card {
  flex: 3;
}
.wrapper .list-option {
  flex: 1;
}
.wrapper .f-deck {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .17);
  box-sizing: border-box;
  display: inline-block;
  height: 310px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 90%;
}
.wrapper .f-deck .import-cover-deck {
  position: absolute;
  top: 40%;
  width: 100%;
}
.wrapper .f-deck .import-cover-deck .ct-text {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}
