
<div class="row text-center user-profile">
  <div class="col-xs-12 col-md-3 user-profile-info">
    <div class="col-xs-12">
      <img src="/assets/default-avatar.png"  class="user-profile-avatar" alt="Default avatar">
    </div>
    <div class="col-xs-12">
      <div class="col-12 user-profile-name">
        <%= @user.name %>
      </div>
      <div class="row user-profile-follow">
        <div class="col-6">
          Followers: 10
        </div>
        <div class="col-6">
          Following: 10
        </div>
      </div>
      <div class="profile-device"></div>
    </div>
    <div class="row profile-setting">
      <a href="#" class="col-9">
        <img src="/assets/setting.png" class="img-setting" alt="Setting">
        <div class="text-setting">Settings</div>
      </a>
      <button class="col-3 button-profile">
        <div class="button-icon">
          <span class="fa fa-share-square-o"></span>
        </div>
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-md-9 profile-content">
    <div class="row">
      <div class="col-12 tab-header">
        <div class="row">
          <div onclick="openTab('b1','bb1')" id="bb1" class="tab-title"> <span class="tab-active">Decks</span></div>
          <div onclick="openTab('b2','bb2')" id="bb2" class="tab-title"> <span>Followers</span></div>
          <div onclick="openTab('b3','bb3')" id="bb3" class="tab-title"> <span>Following</span></div>
        </div>
      </div>

      <div class="container">
        <div id="b1" class="container-tab">
          <div class="container-tab-content">
            <div class="list-deck">
              <div class="row">
                <div class="col-4 image-wrap">
                  <div class="item-lesson">
                    <%= link_to image_tag("lesson.png"), "#" %>
                  </div>
                </div>
                <div class="col-8">
                  saadasdda
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="b2" class="containerTab" style="display:none;">
          <h2>Cards...</h2>
        </div>
      </div>
    </div>
  </div>
</div>
