# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d7caff98defa88a962acd1c77914b656153040db9e7aa8665828099a39c00d13002d56ae76f3d8cfc9376b3bfc8483eed34950e56f7e25550dbff0a1f952d46a

test:
  secret_key_base: 1744155df00bd0ad27b2da88b1ddbe00e2f706af32ad316c66aec51b511bef465611d2279dcaa3048b6f18886df36e7dd1cf173fc0100970bca6d80100bb5e98

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
