<header>
<div class="header-logo">
  <div class="inner">
    <div class="logo">
      <a href="#" [routerLink]="['/']"><img src="./assets/images/logo.jpg" alt="logo"></a>
      <div class="name-logo">
        <a href="#" [routerLink]="['/']">Tinycard</a>
      </div>
    </div>

    <div class="search">
      <div class="search-form">
        <input class="search-input" type="search" style="outline: none" placeholder="Search" aria-label="Search">
      </div>
    </div>
    <div class="nav-list">
      <div class="nav-item">
        <a href="#" [routerLink]="['/']" class="cl-text fa fa-home"> HOME</a>
      </div>
      <div class="nav-item">
        <a href="#" [routerLink]="['/createDeck']" class="cl-text fa fa-plus"> CREATE</a>
      </div>
      <div class="nav-item" *ngIf="isAuthenticated">
        <a href="#" [routerLink]="['/users/', id]" class="cl-text fa fa-user">TUANH</a>
      </div>
      <div class="nav-item" *ngIf="!isAuthenticated">
        <a href="#" [routerLink]="['/login']" class="cl-text fa fa-user"> LOG IN</a>
      </div>
      <div class="nav-item">
        <a href="javascript:void(0)" class="cl-text fa fa-user" (click)="onLogout()" *ngIf="isAuthenticated"> LOG OUT</a>
      </div>
    </div>
  </div>
</div>
</header>
