header {
  background-color: #00CCFC;
  height: 60px;
}
header .header-logo {
  margin: auto;
  max-width: 1120px;
}
header .header-logo .inner {
  display: flex;
  justify-content: space-between;
}
header .header-logo .inner img {
  height: 60px;
  padding-top: 5px;
  border-radius: 10px;
}
header .header-logo .inner .logo {
  display: flex;
}
header .header-logo .inner .logo .name-logo {
  font-size: 35px;
  font-weight: 300;
  margin: 8px;
  opacity: .95;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
}
header .header-logo .inner .logo .name-logo a:hover {
  text-decoration: none;
}
header .header-logo .inner .logo .name-logo a {
  color: White;
  text-decoration: none;
}
header .header-logo .inner .search {
  margin-top: 9px;
}
header .header-logo .inner .search .search-form {
  width: 320px;
  border: none;
  border-radius: 10px;
}
header .header-logo .inner .search .search-form .search-input {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #5c5c5c;
  font-size: 15px;
  height: 42px;
  padding: 3px 0 0 20px;
  width: 100%;
}
header .header-logo .inner .search .search-form .search-input:placeholder-shown {
  background-color: #6fdcff;
}
header .header-logo .inner .search .search-form .search-input:placeholder {
  color: #fff;
  font-family: DINNextRoundedLTPro-Medium, sans-serif;
  opacity: .8;
  text-transform: uppercase;
}
header .header-logo .inner .search .search-form .search-input:focus {
  background-color: #fff;
}

header .header-logo .inner .txt-home {
  color: White;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin-right: 20px;
}
header .header-logo .inner .nav-list {
  display: flex;
}
header .header-logo .inner .nav-list .nav-item a{
  color: White;
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 22px 15px;
  text-transform: uppercase;
  vertical-align: middle;
  opacity: .9;
}

footer .quick-links {
  margin-bottom: 20px;
  margin-top: 90px;
  text-align: center;
}
footer .quick-links .link-item {
  color: #c4c4c4;
  font-weight: bold;
  margin: 20px;
  padding: 15px;
}
