<div class="row user-profile .user-profile-info">
  <div class="col-md-8">
    <a href ="#" [routerLink]="['/users', user.id]">
      <div class="col-md-2 user-profile-avatar">
        <img src="./assets/images/avatar.png" class="user-profile-avatar" alt="Default avatar">
      </div>
      <div class="col-md-8">
        <div class="col-md-12 user-profile-name">
          {{user.name}}
        </div>
        <div class="col-md-12 follow-number">
          Followers: {{user.follower_number}}
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 user-profile-follow">
    <button (click)="toogleFollow(user)" [class.btn-followed]="user.followed" type="button" class="btn btn-outline-success btn-follow">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
  </div>
</div>