.btn-follow {
  background-color: transparent;
  width: 45px;
  height: 40px;
  margin-right: 5px;
  color: #276d8c;
  border: 2px solid #276d8c;
  position: absolute;
  right: 0;
}

.btn-followed {
  background-color: #276d8c;
  width: 45px;
  height: 40px;
  margin-right: 5px;
  color: white;
  border: 2px solid #276d8c;
  position: absolute;
  right: 0;
}

.user-profile {
  padding: 20px 20px;
  border-radius: 15px;
}
.user-profile:hover {
  background-color: aliceblue;
}
.user-profile-avatar img {
  border: 2px solid #bebebe;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  margin: auto;
}
.user-profile-follow {
  margin-top: 10px;
}
.user-profile-follow button {
  outline: none;
}
.user-profile-name {
  color: #5c5c5c;
  font-size: 24px;
  max-width: 158px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
}

.follow-number {
  color: #c4c4c4;
  font-size: 16px;
  max-width: 158px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: DINNextRoundedLTPro-Medium,sans-serif;
}
